main {
    background-color: tan;
}

nav {
  background-color: lightblue;
  padding: 10px;
}

header {
    background-color: navy;
}

a {
    color: navy;
    padding: 10px;
}

.nav_links {
    color: navy;
    background-color: tan;
    text-decoration: none;
    border: 1px, solid, navy;
    padding:5px;
}

#coolheader {
    font-weight: bold;
}

